@using QuanLiCuaHang.ENTITIES;
@using QuanLiCuaHang.BUSSINESS_SERVICE;
@{
    Layout = null;
    String maMatHang = Request["maMatHang"];
    String maHD = Request["maHD"];
    HOADON HDNhapHang = XL_HD_NHAPHANG.TimKiemHDNhapHang_MaHD(maHD);
    List<CHITIET_HD> listChiTietHoaDon = HDNhapHang.listChitietHoaDon;

    if (Session["listMatHangUpdate"] != null)
    {
        listChiTietHoaDon = (List<CHITIET_HD>)Session["listMatHangUpdate"];
    }
    CHITIET_HD matHang = XL_CHITIET_HD.TimHoaDon(maMatHang, listChiTietHoaDon);

    if (IsPost)
    {
        listChiTietHoaDon = XL_CHITIET_HD.XoaMatHang(matHang, listChiTietHoaDon);
        Session["listMatHangUpdate"] = listChiTietHoaDon;
        Response.Redirect("~/UI/HOADON_NHAPHANG/MH_SUA_HD_NHAPHANG.cshtml?maHoaDon=" + maHD);
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Danh Sach Mat Hang</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <div>
        <form action="~/UI/CHITIET_HD_NHAPHANG/MH_XOA_CHITIET_HD_NHAPHANG.cshtml?maMatHang=@maMatHang&maHD=@maHD" method="post">
            <p>Bạn có chắc muốn xóa mặt hàng này khỏi hóa đơn bán hàng ?</p>
            <input type="submit" value="Xoa khoi hóa đơn">
        </form>
    </div>
</body>
</html>


