@using QuanLiCuaHang.ENTITIES;
@using QuanLiCuaHang.BUSSINESS_SERVICE;
@{
    Layout = null;
    String keyword = string.Empty;
    List<LOAI_HANG> LoaiHang = XL_LOAI_HANG.DocLoaiHang();
    MATHANG matHang;
    if (IsPost)
    {
        matHang.MaMatHang = String.Empty;
        matHang.TenHang = Request["tenMH"];
        matHang.HanDung = Request["hanDung"];
        matHang.CongTySanXuat = Request["congTySanXuat"];
        matHang.NamSanxuat = int.Parse(Request["namSX"]);
        matHang.LoaiHang = Request["LoaiHang"];
        XL_MATHANG.ThemMatHang(matHang);

        Response.Redirect("~/UI/MATHANG/MH_MATHANG.cshtml");
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Danh Sach Mat Hang</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <div>
        <form action="~/UI/MATHANG/MH_THEM_MATHANG.cshtml" method="post">
            
               
                <label for="lname">Ten Hang:</label><br>
                <input type="text" id="lname" name="tenMH" ><br><br>
                <label for="fname">Han Dung:</label><br>
                <input type="text" id="fname" name="hanDung"><br>
                <label for="lname">Cong Ty San Xuat:</label><br>
                <input type="text" id="lname" name="congTySanXuat"><br><br>
                <label for="fname">Nam San Xuat:</label><br>
                <input type="text" id="fname" name="namSX"><br>
                <label for="lname">Loai Hang:</label><br>
                    @if(LoaiHang.Count() == 0)
                    {
                        <p style="color: red;"> WARMING : Chưa có Loại Hàng Nào. Hãy Thêm Loại Hàng Vào Trước</p>
                     }
                    else
                    {
                        <select name="LoaiHang" >
                            @for (int i = 0; i < LoaiHang.Count(); i++)
                            {
                                <option value="@LoaiHang[i].TenLoaiHang">@LoaiHang[i].TenLoaiHang</option>
                            }
   
                        </select>

                    }
                    
                <br><br>
                <input type="submit" value="Them Mat Hang">
         </form> 
    </div>
    </body>
</html>

            
            
            
