@using QuanLiCuaHang.ENTITIES;
@using QuanLiCuaHang.BUSSINESS_SERVICE;
@{
    Layout = null;
    String Chuoi = string.Empty;
    String maHoaDon = Request["maHoaDon"];
    if (string.IsNullOrEmpty(maHoaDon))
    {
        Chuoi = "Ma hoa don nay khong hop le";
    }
    else
    {
        HD_BANHANG hdBanHang = XL_HD_BANHANG.TimKiemHDBanHang_MaHD(maHoaDon);
        if (string.IsNullOrEmpty(hdBanHang.maHoaDon))
        {
            Chuoi = "Ma hoa don nay khong ton tai";
        }
        else
        {
            {
                if (IsPost)
                {
                    XL_HD_BANHANG.XoaHDBanHang(maHoaDon);
                    Response.Redirect("~/UI/HOADON_BANHANG/MH_HD_BANHANG.cshtml");
                }

            }
        }
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Danh Sach Mat Hang</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <div>
        <form action="~/UI/HOADON_BANHANG/MH_XOA_HD_BANHANG.cshtml?maHoaDon=@maHoaDon" method="post">
            Bạn có chắc chắn muốn xóa hóa đơn này ?
            <input type="submit" value="Đồng Ý">
        </form>
    </div>
</body>
</html>


