@using QuanLiCuaHang.ENTITIES;
@using QuanLiCuaHang.BUSSINESS_SERVICE;
@{
    Layout = null;

    List<MATHANG> listMatHang = XL_MATHANG.DocMatHang();
    List<CHITIET_HD> listCH_HoaDon;
    CHITIET_HD chiTietDonHang;

    if (Session["listMatHang"] == null)
    {
        listCH_HoaDon = new List<CHITIET_HD>();
    }
    else
    {
        listCH_HoaDon = (List<CHITIET_HD>)Session["listMatHang"];
    }


    if (IsPost)
    {
        String maMatHang = Request["maMatHang"];
        chiTietDonHang.matHang = XL_MATHANG.TimKiemMatHang_MaMH(maMatHang);
        chiTietDonHang.soLuong = int.Parse(Request["soLuong"]);

        listCH_HoaDon.Add(chiTietDonHang);
        Session["listMatHang"] = listCH_HoaDon;
        Response.Redirect("~/UI/HOADON_BANHANG/MH_THEM_HD_BANHANG.cshtml");
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Them Mat Hang</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <div>
        <form action="~/UI/CHITIET_HDBH/MH_THEM_CHITIET_HDBH.cshtml" method="post">

            <select name="maMatHang">
                @for (int i = 0; i < listMatHang.Count(); i++)
                {
                    <option value="@listMatHang[i].MaMatHang">@listMatHang[i].MaMatHang - @listMatHang[i].TenHang</option>
                }

            </select>

            <br><br>

            <label for="lname">So Luong:</label><br>
            <input type="text" id="lname" name="soLuong"><br><br>
            <input type="submit" value="Them vào hóa đơn">
        </form>
        
    </div>
</body>
</html>

            
            