@using QuanLiCuaHang.ENTITIES;
@using QuanLiCuaHang.BUSSINESS_SERVICE;
@{
    Layout = null;
    List<LOAI_HANG> LoaiHang = XL_LOAI_HANG.DocLoaiHang();
    List<CHITIET_HD> listMatHang;
    CHITIET_HD chiTietDonHang;

    if (Session["listMatHang"] == null)
    {
        listMatHang = new List<CHITIET_HD>();
    }
    else
    {
        listMatHang = (List<CHITIET_HD>)Session["listMatHang"];
    }
    int num = listMatHang.Count() + 1;
    String maMatHang = num.ToString();
    if (IsPost)
    {
        chiTietDonHang.matHang.MaMatHang = maMatHang;
        chiTietDonHang.matHang.TenHang = Request["tenMH"];
        chiTietDonHang.matHang.HanDung = Request["hanDung"];
        chiTietDonHang.matHang.CongTySanXuat = Request["congTySanXuat"];
        chiTietDonHang.matHang.NamSanxuat = int.Parse(Request["namSX"]);
        chiTietDonHang.matHang.LoaiHang = Request["LoaiHang"];
        chiTietDonHang.soLuong = int.Parse(Request["soLuong"]);

        listMatHang.Add(chiTietDonHang);
        Session["listMatHang"] = listMatHang;
        Response.Redirect("~/UI/HOADON_BANHANG/MH_THEM_HD_BANHANG.cshtml");
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Them Mat Hang</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <div>
        <form action="~/UI/CHITIET_HDBH/MH_THEM_CHITIET_HDBH.cshtml" method="post">

            <label for="lname">Ten Hang:</label><br>
            <input type="text" id="lname" name="tenMH"><br><br>
            <label for="fname">Han Dung:</label><br>
            <input type="text" id="fname" name="hanDung"><br>
            <label for="lname">Cong Ty San Xuat:</label><br>
            <input type="text" id="lname" name="congTySanXuat"><br><br>
            <label for="fname">Nam San Xuat:</label><br>
            <input type="text" id="fname" name="namSX"><br>
            <label for="lname">Loai Hang:</label><br>

            <select name="LoaiHang">
                @for (int i = 0; i < LoaiHang.Count(); i++)
                {
                    <option value="@LoaiHang[i].TenLoaiHang">@LoaiHang[i].TenLoaiHang</option>
                }

            </select>

            <br><br>

            <label for="lname">So Luong:</label><br>
            <input type="text" id="lname" name="soLuong"><br><br>
            <input type="submit" value="Them vào hóa đơn">
        </form>
        
    </div>
</body>
</html>

            
            