@using QuanLiCuaHang.ENTITIES;
@using QuanLiCuaHang.BUSSINESS_SERVICE;
@{
    Layout = null;
    String maHD = Request["maHD"];
    List<MATHANG> listMatHang = XL_MATHANG.DocMatHang();

    CHITIET_HD chiTietDonHang;
    HOADON HDBanHang = XL_HD_BANHANG.TimKiemHDBanHang_MaHD(maHD);
    List<CHITIET_HD> listChiTietHoaDon = HDBanHang.listChitietHoaDon;
    if (Session["listMatHangUpdate"] != null)
    {
        listChiTietHoaDon = (List<CHITIET_HD>)Session["listMatHangUpdate"];
    }


    if (IsPost)
    {
        String maMatHang = Request["maMatHang"];
        chiTietDonHang.matHang = XL_MATHANG.TimKiemMatHang_MaMH(maMatHang);
        chiTietDonHang.soLuong = int.Parse(Request["soLuong"]);

        listChiTietHoaDon.Add(chiTietDonHang);
        Session["listMatHangUpdate"] = listChiTietHoaDon;
        Response.Redirect("~/UI/HOADON_BANHANG/MH_SUA_HD_BANHANG.cshtml?maHoaDon=" + maHD);
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Danh Sach Mat Hang</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <div>
        <form action="~/UI/CHITIET_HDBH/MH_THEM(SUA)_CHITIET_HDBH?maHD=@maHD" method="post">
            <select name="maMatHang">
                @for (int i = 0; i < listMatHang.Count(); i++)
                {
                    <option value="@listMatHang[i].MaMatHang">@listMatHang[i].MaMatHang - @listMatHang[i].TenHang</option>
                }

            </select><br><br>
            <label for="lname">So Luong:</label><br>
            <input type="text" id="lname" name="soLuong"><br><br>
            <input type="submit" value="Them vào hóa đơn">
        </form>
    </div>
</body>
</html>

            
            