@using QuanLiCuaHang.ENTITIES;
@using QuanLiCuaHang.BUSSINESS_SERVICE;
@{
    Layout = null;
    String keyword = string.Empty;
    List<HOADON> ListHDNhapHang = null;
    if (IsPost)
    {
        keyword = Request["keyword"];
    }
    ListHDNhapHang = XL_HD_NHAPHANG.TimKiemHDNhapHang(keyword);

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Danh Sách Hóa Đơn Nhập Hàng </title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <nav>
        <a href="~/UI/MATHANG/MH_MATHANG.cshtml">Quản Lí các Mặt hàng</a> |
        <a href="~/UI/LOAIHANG/MH_LOAIHANG.cshtml">Quản Lí các Loại hàng</a>|
        <a href="~/UI/HOADON_BANHANG/MH_HD_BANHANG.cshtml">Quản Lí các Hóa Đơn Bán Hàng</a> |
        <a href="~/UI/HOADON_NHAPHANG/MH_HD_NHAPHANG.cshtml">Quản Lí các Hóa Đơn Nhập Hàng</a>|
        <a href="~/UI/MH_THONGKE_HANGTON_THELOAI.cshtml">Thống Kê Hàng Tồn Kho Theo Thể Loại</a>|
        <a href="~/UI/MH_THONGKE_HANGTON_HANDUNG.cshtml">Thống Kê Hàng Tồn Kho Hết Hạn</a><br>
    </nav>
      <div>
        <form action="~/UI/HOADON_NHAPHANG/MH_HD_NHAPHANG.cshtml" method="post">
            <br />
            <input type="text" name="keyword" placeholder="ma hoa don/ ngay tao hoa don" />
            <input type="submit" value="TimKiem" /> <br><br>
            <a href="~/UI/HOADON_NHAPHANG/MH_THEM_HD_NHAPHANG.cshtml">Them hoa don nhap hang</a><br>
            @if (ListHDNhapHang != null)
            {
                <table>
                    <tr>
                        <th>Ma hoa don</th>
                        <th>ngay tao</th>
                        <th>so luong</th>
                        <th></th>
                    </tr>

                    @for (int i = 0; i < ListHDNhapHang.Count(); i++)
                {
                        <tr>
                            <th>@ListHDNhapHang[i].maHoaDon</th>
                            <th>@ListHDNhapHang[i].ngayTaoHoaDon</th>
                            <th>@ListHDNhapHang[i].tongSoLuong</th>
                            <th>
                                <a href="~/UI/HOADON_NHAPHANG/MH_XOA_HD_NHAPHANG.cshtml?maHoaDon=@ListHDNhapHang[i].maHoaDon">Xoa hoa don</a>
                                <a href="~/UI/HOADON_NHAPHANG/MH_SUA_HD_NHAPHANG.cshtml?maHoaDon=@ListHDNhapHang[i].maHoaDon">Sua hoa don</a>
                            </th>
                        </tr>
                }

                </table>
            }
            else
            {
                <p>Chưa có hóa đơn nào</p>
            }

        </form>
    </div>
</body>
</html>
