@{ 
    Layout = null;
   

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quản Lí Cửa Hàng </title>
    
</head>
<body>
    <div>
        <h1> Ứng dụng quản lí cửa hàng</h1>

        <nav>
            <a href="~/UI/MATHANG/MH_MATHANG.cshtml">Quản Lí các Mặt hàng</a> |
            <a href="~/UI/LOAIHANG/MH_LOAIHANG.cshtml">Quản Lí các Loại hàng</a>|
            <a href="~/UI/HOADON_BANHANG/MH_HD_BANHANG.cshtml">Quản Lí các Hóa Đơn Bán Hàng</a> |
            <a href="~/UI/HOADON_NHAPHANG/MH_HD_NHAPHANG.cshtml">Quản Lí các Hóa Đơn Nhập Hàng</a>|
            <a href="~/UI/MH_THONGKE_HANGTON_THELOAI.cshtml">Thống Kê Hàng Tồn Kho Theo Thể Loại</a>|
            <a href="~/UI/MH_THONGKE_HANGTON_HANDUNG.cshtml">Thống Kê Hàng Tồn Kho Hết Hạn</a><br>
        </nav>
        
    </div>
</body>
</html>

            
            