@using QuanLiCuaHang.ENTITIES;
@using QuanLiCuaHang.BUSSINESS_SERVICE;
@{
    Layout = null;

    String Chuoi = string.Empty;
    String maMatHang = Request["maMatHang"];
    MATHANG matHang = new MATHANG();
    if (string.IsNullOrEmpty(maMatHang))
    {
        Chuoi = "Ma mat hang nay khong ton tai";
    }
    else
    {
        matHang = XL_MATHANG.TimKiemMatHang_MaMH(maMatHang);
        if (string.IsNullOrEmpty(matHang.MaMatHang))
        {
            Chuoi = "Khong co mat hang nao co ma nay";
        }
        else
        {
            if (IsPost)
            {

                XL_MATHANG.XoaMatHang(maMatHang);
                Response.Redirect("~/UI/MH_MATHANG.cshtml");
            }

        }
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Danh Sach Mat Hang</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <div>
        <form action="~/UI/MH_XOA_MATHANG.cshtml?maMatHang=@maMatHang" method="post">
            Bạn có chắc chắn muốn xóa mặt hàng này ?    
               <input type="submit" value="Đồng Ý">
         </form> 
    </div>
    </body>
</html>

          
